{% extends "base.html" %}
{% load static %}
{% block title %}
    {{ request.user.username }}
{% endblock %}

{% block container %}
    <div class="container emp-profile">
        <form method="post">
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        <img src="{{ static }}/static/img/default-user-image.png"
                             height="200" width="200"
                             alt=""/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                        <h5>
                            {{ client.user.first_name }} {{ client.user.last_name }}
                        </h5>
                        <h6>
                            {{ client.purpose_text }} Client
                        </h6>
                        <p class="proile-rating">Current Trainer: <span>
                            {% if client.current_trainer %}
                                {{ client.current_trainer.user.first_name }} {{ client.current_trainer.user.first_name }}
                            {% else %}
                                Not assigned
                            {% endif %}
                        </span></p>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                   aria-controls="home" aria-selected="true">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                   aria-controls="profile" aria-selected="false">Physic</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
{#                    <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>#}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <nav class="nav flex-column">
                        <a class="nav-link active" href="#">Update Profile</a>
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModal">Search Programs</a>
                        {% include "client/program_list.html" %}

                    </nav>
                </div>
                <div class="col-md-8">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Username</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ client.user.username }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ client.user.email }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Blood Group</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ client.blood_group }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Height</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ client.height_in_feet }} ft</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Health Issues</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ client.health_issues }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Current Weight</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ client.current_weight }} lbs</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Target Weight</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ client.target_weight }} lbs</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Arm Size</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ client.arm_size }} inch</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Chest Size</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ client.chest_size }} inch</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Leg Size</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ client.leg_size }} inch</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}