{% extends "base.html" %}
{% load static %}
{% block title %}
    Client Signup
{% endblock %}
{% block container %}
    <div class="jumbotron">
        <h1 class="display-4">Client Signup</h1>
        <p class="lead">
            Create a profile to look for the trainer..
        </p>
    </div>
    <div>
        <form>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="first_name">First Name</label>
                            <input type="text" class="form-control" id="first_name" name="first_name">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="last_name">Last Name</label>
                            <input type="text" class="form-control" id="last_name" name="last_name">
                        </div>
                    </div>
                </div>
                                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1"
                                   placeholder="Password">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                   aria-describedby="emailHelp"
                                   placeholder="Enter email">
{#                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone#}
{#                                else.#}
{#                            </small>#}
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="purpose">Purpose</label>
                            <select id="purpose" name="purpose" class="form-control">
                                <option selected value="">Select one</option>
                                <option value="cmp">Competitive</option>
                                <option value="rec">Recreational</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="current_weight">Current Weight</label>
                            <input type="number" step="0.01" class="form-control" id="current_weight" name="current_weight">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="target_weight">Target Weight</label>
                            <input type="number" step="0.01" class="form-control" id="target_weight" name="target_weight">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="blood_group">Blood Group</label>
                            <input type="text" class="form-control" id="blood_group" name="blood_group">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="height_in_feet">Height in Feet</label>
                            <input type="number" step="0.01" class="form-control" id="height_in_feet" name="height_in_feet">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="arm_size">Arm Size</label>
                            <input type="number" step="0.01" class="form-control" id="arm_size" name="arm_size">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="chest_size">Chest Size</label>
                            <input type="number" step="0.01" class="form-control" id="chest_size" name="chest_size">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="leg_size">Leg Size</label>
                            <input type="number" step="0.01" class="form-control" id="leg_size" name="leg_size">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="health_issues">Health Issues</label>
                            <textarea class="form-control" id="health_issues" name="health_issues"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button style="float: right" type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
